wheel
aiohttp
aiofiles
aria2p
async_generator
beautifulsoup4
cowpy
psutil
wget
telegraph
TgCrypto
cffi
dnspython
emoji
PyPDF2
cryptg
patool
gitpython
asyncurban
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
googletrans
google_images_download
gTTS
gTTS-token
hachoir
REPO_LINK
heroku3
httplib2
humanize
meval
lxml
lyrics_extractor
oauth2client
pillow>
fontTools
psycopg2
psycopg2-binary
pybase64
pylast
pySmartDL
python-barcode
python-dotenv
pytz
qrcode
requests
search-engine-parser
speedtest-cli
SQLAlchemy==1.4.28
telethon==1.24.0
telethon-tgcrypto
telethon-session-sqlalchemy
urbandict
wikipedia
coffeehouse
gitpython
git+https://github.com/TomyPrs/deezloader
git+https://github.com/johnwmillr/LyricsGenius.git
git+https://github.com/Ncode2014/search-engine-parser
lyricsgenius
PyDrive2
pyDownload
PyGithub
bs4
covid
base
pip
setuptools
selenium
python-dateutil
pyfiglet
jotquote
html_telegraph_poster
csvfaker
git+https://github.com/ahupp/python-magic
pytube
pymongo
youtube-search-python
youtube-search
yt-dlp
justwatch
zipfile38
validators
geopy
glitch_this
twitter_scraper
pyaztro
jikanpy
vcsi
lottie
wand
colour
scipy
wordcloud
opencv-python
pendulum
rarfile
natsort
hentai
Faker
js2py
aiofile
validators
pytest
